:root {
  --bg-primary: #1B1F22;
  --bg-secondary: #2C3038;
  --fg-normal: #FFFFFF;
  --fg-muted: #CFCFCF;
  --fg-silent: #7D8288;
  --accent: #3B5BDB;
  --accent-modifier-hover: #486BF7;
  --accent-modifier-fg-hover: #A5B5F8;
  --danger-darker: #E03131;
  --danger-lighter: #FF6B6B;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--fg-normal);
  font-family: 'Inter', sans-serif;
}

#__next {
  box-sizing: border-box;
  height: 100vh;
}

* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.rv-xy-plot {
  position: relative;
}

.rv-xy-plot__axis__tick__text {
  fill: var(--fg-muted);
}

.rv-discrete-color-legend {
  color: var(--fg-normal);
  position: absolute;
  font-size: 14px;
  pointer-events: none;
  top: 0;
  right: 0;
  z-index: 88;
  border-radius: 6px;
  background: var(--bg-secondary);
  padding: 8px 10px;
  width: 180px;
}

.rv-discrete-color-legend svg {
  height: 10px;
  margin-right: 4px;
}

.rv-discrete-color-legend svg path {
  stroke-width: 20px;
}