:root {
  --bg-primary: #1b1f22;
  --bg-secondary: #2c3038;
  --fg-normal: #ffffff;
  --fg-muted: #cfcfcf;
  --fg-silent: #7d8288;
  --accent: #3b5bdb;
  --accent-modifier-hover: #486bf7;
  --accent-modifier-fg-hover: #a5b5f8;
  --danger-darker: #e03131;
  --danger-lighter: #ff6b6b;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--fg-normal);
  font-family: 'Inter', sans-serif;
}

#__next {
  box-sizing: border-box;
  height: 100vh;
}

* {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.rv-xy-plot {
  position: relative;
}

.rv-xy-plot__axis__tick__text {
  fill: var(--fg-muted);
}

.rv-discrete-color-legend {
  color: var(--fg-normal);
  position: absolute;
  font-size: 14px;
  pointer-events: none;
  top: 0;
  right: 0;
  z-index: 88;
  border-radius: 6px;
  background: var(--bg-secondary);
  padding: 8px 10px;
  width: 180px;
}

.rv-discrete-color-legend svg {
  height: 10px;
  margin-right: 4px;
}

.rv-discrete-color-legend svg path {
  stroke-width: 20px;
}

.rv-xy-plot__series.rv-xy-plot__series--line {
  stroke: var(--accent) !important;
}
